.container {
  padding: var(--spacing-tiny);
  border-bottom: 1px solid var(--border-color);
  min-width: 100px;
}

.container.head {
  font-weight: 500;
  border-bottom: none;
}

.container.error {
  color: var(--error-color);
}

.container.success {
  color: var(--success-color);
}

.container > div,
.container > input,
.container > select {
  margin: 0;
}
