.link {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  /* background-image: url("./black-rec.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  height: 33px;
  width: 154px;
}

.title {
  margin-left: var(--spacing-small);
  text-decoration: none;
  color: var(--font-color);
  font-size: var(--font-size)
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    background-image: url("./white-rec.png");
  }
} */

@media (min-width: 400px) {
  .logo {
    height: 43px;
    width: 200px;
  }

  .title {
    font-size: var(--font-size-big)
  }
}